<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Meu Perfil</ion-title>
    <ion-icon name="car-sport-outline" slot="end" size="large" class="ion-margin-end" color="#006600"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus dignissimos ipsam veniam, tempore illum labore expedita animi, praesentium earum dolor maiores modi enim aut doloremque ullam quos numquam libero dolorem!</p>

</ion-content>